.party-slot{
    border: 1px solid #09ccd3;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
}
.party-slot:hover{
    cursor: pointer;
    border-color: chartreuse;
}
.party-slot-info{
    margin-left: 150px;
}
.party-slot .party-slot-title{
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
}
.party-slot-type{
    margin-top: 2px;
    margin-bottom: 2px;
}
.party-slot-img{
    float: left;
    margin-top: auto;
    width: 100px;
    height: 100px;
}
.party-slot .party-slot-level{
    margin: 5px 0 5px 0;
}